<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='../static/js/jquery.js'></script>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>
        submitForms = function(){
        document.getElementById("user_input1").submit();
        document.getElementById("user_input2").submit();
    }
    </script>
    <script>
    $(document).ready(function(){
      $("#content").load('../static/courseviz.html');
    });
    </script>
    <style>

body, h1, h2, h3, h4 {
  font-family: Quicksand;
}

.topnav {
    background-color: #555;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Quicksand;
}

.topnav a:hover {
  background-color: #aaa;
  color: black;
}

.topnav-right {
  float: right;
}

.intro {
  background-color:#00aadd;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.ldaplot{
  padding: 20px;
  font-family: Quicksand;
}
.try{
  padding: 20px;
  font-family: Quicksand;
}
    </style>
  </head>

<body>

  <div class="topnav">
    <a href="#"><b>edu-cater</b></a>
    <div class="topnav-right">
      <a href="#about">About</a>
      <a href="#topics">Topics</a>
    </div>
  </div>

<div class="intro" style="text-align: center">
  <div class="container" style="display: inline-block" >
    <h1 style="font-family: Cookie; font-size: 100px; ">edu-cater</h1>
    <p  style="font-size: 30px">customized course curricula, catered to your needs</p>
  </div>
</div>

<div id="about" class="ldaplot">
  <p><h1><b>About edu-cater</b></h1></p>
  <p style = "font-size: 20px">
    edu-cater is an application that uses topic modeling (Latent Dirichlet Allocation) and graph theory
    to provide customized curriculums of courses to users to ease their transition to new skills sets
    of interest. More information about the project can be found
    <a href="http://github.com/amandakeasson/edu-cater">here</a>.
  <br><br>
  To use educater, explore the topics below. Using the dropdown menus, select a topic that you are familiar with, and a new topic that you wish
  to learn. You can also rate the importance of course similarity, course ratings, course popularity (based on enrollment) and course length
  (where higher weights correspond to shorter course lengths).
  <br><br>
  The "Course Network" provides a thresholded visual representation of the graph that is used for the course curriculum recommendations.
  Each node represents a course, and each edge (connection) represents the similarity between two courses in terms of how they relate to the different topics.
  In the graph that is used for recommendations, the edges are thresholded such that only the top 7.5% of connections are kept.
  For the visualization provided on this page, the graph was thresholded and binarized to show the top 2.5% of connections.
  Courses with a node strength less than 5 were then discarded.
  The largest connected component of this resulting graph is what is visualized below.
  <br><br>
</p>
</div>


<div id="topics" class="ldaplot">
  <p><h1><b>Explore Topics</b></h1></p>
  <p style = "font-size: 20px">Hover over a topic to see the words that are most associated with that topic.</p>
  <div id="content"></div>
</div>

  <!-- Try Section -->
   <div id="try" class="try">
     <h1><b>Choose Topics</b></h1>

       <!--<div class="col-sm m-3 text-center">-->
             <form action="/output" method="GET" id="user_input2">
                    <h4>Topic you know:</h4>
                   <select id="user_input1" name='user_input1'>
                     <option value="topic1">Topic 1: Data Science</option>
                     <option value="topic2">Topic 2: Software Design and User Experience</option>
                     <option value="topic3">Topic 3: Finance</option>
                     <option value="topic4">Topic 4: Cloud Computing and Security</option>
                     <option value="topic5">Topic 5: Medical Sciences</option>
                     <option value="topic6">Topic 6: Healthcare and Public Health</option>
                     <option value="topic7">Topic 7: Economics</option>
                     <option value="topic8">Topic 8: Social Sciences</option>
                     <option value="topic9">Topic 9: Business: Marketing and Innovation</option>
                     <option value="topic10">Topic 10: Management, Leadership and Communication</option>
                     <option value="topic11">Topic 11: Physical and Earth Sciences</option>
                     <option value="topic12">Topic 12: Cybersecurity</option>
                   </select>

                   <br><br>
                    <h4>Topic you wish to learn:</h4>
                  <select id="user_input2" name='user_input2'>
                    <option value="topic1">Topic 1: Data Science</option>
                    <option value="topic2">Topic 2: Software Design and User Experience</option>
                    <option value="topic3">Topic 3: Finance</option>
                    <option value="topic4">Topic 4: Cloud Computing and Security</option>
                    <option value="topic5">Topic 5: Medical Sciences</option>
                    <option value="topic6">Topic 6: Healthcare and Public Health</option>
                    <option value="topic7">Topic 7: Economics</option>
                    <option value="topic8">Topic 8: Social Sciences</option>
                    <option value="topic9">Topic 9: Business: Marketing and Innovation</option>
                    <option value="topic10">Topic 10: Management, Leadership and Communication</option>
                    <option value="topic11">Topic 11: Physical and Earth Sciences</option>
                    <option value="topic12">Topic 12: Cybersecurity</option>
                   </select>
                   <br><br>

                   <h4>Importance of topic similarity:   <span id="demo1"></span></h4>
                   <input type="range" min="1" max="10" value="10" class="slider" id="csim" name="csim">
                   <h4>Importance of course rating:   <span id="demo2"></span></h4>
                   <input type="range" min="1" max="10" value="3" class="slider" id="cstars" name="cstars">
                   <h4>Importance of course popularity:   <span id="demo3"></span></h4>
                   <input type="range" min="1" max="10" value="2" class="slider" id="cenr" name="cenr">
                   <h4>Importance of saving time (shorter course length):   <span id="demo4"></span></h4>
                   <input type="range" min="1" max="10" value="1" class="slider" id="chours" name="chours">
                  <br><br>
             </form>
             <br>

             <script>
                var slider1 = document.getElementById("csim");
                var output1 = document.getElementById("demo1");
                output1.innerHTML = slider1.value;
                slider1.oninput = function() {
                  output1.innerHTML = this.value;
                }

                var slider2 = document.getElementById("cstars");
                var output2 = document.getElementById("demo2");
                output2.innerHTML = slider2.value;
                slider2.oninput = function() {
                  output2.innerHTML = this.value;
                }

                var slider3 = document.getElementById("cenr");
                var output3 = document.getElementById("demo3");
                output3.innerHTML = slider3.value;
                slider3.oninput = function() {
                  output3.innerHTML = this.value;
                }

                var slider4 = document.getElementById("chours");
                var output4 = document.getElementById("demo4");
                output4.innerHTML = slider4.value;
                slider4.oninput = function() {
                  output4.innerHTML = this.value;
                }
            </script>

    <div class="row justify-content-center">
          <button type="submit" class="btn btn-secondary btn-lg" form="user_input2">Go!</button>
   </div>
   <br><br><br>


   {% if my_form_result=='Empty' %}
   <div class="row mt-4 justify-content-center">
         <h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
   </div>

   {% elif my_form_result=='NotEmpty' %}

   <div id="recs">
     {% if scroll %}
      <script>
          document.getElementById('{{ scroll }}').scrollIntoView();
          // or
          document.location.hash = '#' + '{{ scroll }}';
      </script>
    {% endif %}
     <h1><b>Recommended Courses:</b></h1>
  </div>

   <div class="row p-1 m-1 justify-content-center">
         <div class="col-md- w-50 list-group">
               <ul style = "font-size: 20px">
              {% for rec in my_output %}
                <li>{{ rec }}</a></li>
              {% endfor %}
              </ul>
              <br><br><br>
         </div>
   </div>

   <div id="recs-svg" class="w3-padding-large w3-center"></div>

   {% else %}
   {% endif %}
   </div>

  <div id="main-svg" class="w3-padding-large w3-center"></div>


  </body>

  <script type="text/javascript" src="../static/js/coursenet.js"></script>

  {% if my_form_result=='NotEmpty' %}
   <script type="text/javascript" src="../static/js/coursenet_recs.js"></script>
   {% endif %}


</html>
